################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventDriven.Project.DB/bin/Debug
/EventDriven.Project.DB/obj/Debug
/EventDriven.Project.Logic/obj
/EventDriven.Project.Model/obj
/EventDriven.Project.UI/bin/Debug/net8.0-windows
/EventDriven.Project.UI/obj
/EventDriven.Project.DB/EventDriven.Project.DB.jfm
/EventDriven.Project.DB/EventDriven.Project.DB.dbmdl
/EventDriven.Project.DB/EventDriven.Project.DB.refactorlog
/.gitignore
/EventDriven.Project.Logic/bin/Debug/net8.0/EventDriven.Project.Logic.dll
/EventDriven.Project.Logic/bin/Debug/net8.0/EventDriven.Project.Logic.pdb
/EventDriven.Project.Logic/bin/Debug/net8.0/EventDriven.Project.Model.dll
/EventDriven.Project.Logic/bin/Debug/net8.0/EventDriven.Project.Model.pdb
/EventDriven.Project.Model/bin/Debug/net8.0/EventDriven.Project.Model.dll
/EventDriven.Project.Model/bin/Debug/net8.0/EventDriven.Project.Model.pdb
