################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventDriven.Project.DB/bin/Debug
/EventDriven.Project.DB/obj/Debug
/EventDriven.Project.Logic/obj
/EventDriven.Project.Model/obj
/EventDriven.Project.UI/bin/Debug/net8.0-windows
/EventDriven.Project.UI/obj
/EventDriven.Project.DB/EventDriven.Project.DB.jfm
/EventDriven.Project.DB/EventDriven.Project.DB.dbmdl
